In [27]:
# import dependancies
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect, desc
from flask import Flask, jsonify
# postgres pasword
from config import postgres_password as password

# create engine to postgres
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/quotes_db')

# use engine to connect to existing tables/db
Database = automap_base( )
Database.prepare(engine, reflect=True)

# View all of the classes/tables that automap found
Database.classes.keys( )

# Save references to each table (capital because they are considered classes) 
Tags = Database.classes.tags
Quotes = Database.classes.quote
Author = Database.classes.author

# Create our session (link) from Python to the DB
session = Session(bind=engine)
#inspector = inspect(engine)

# Use  get_columns in order write queries later
#inspector.get_columns('table_name')

## @app.route("/api/v1.0/quote")

In [27]:
# start new session
session = Session(bind=engine)

# Total # of quotes
tot_num_quotes = session.query(Quotes).group_by(Quotes.quote_id).count() #100
#all_quotes = engine.execute('SELECT quote.quote_text, quote.author_name, tags.tags_list FROM quote, tags WHERE quote.quote_id = tags.quote_id GROUP BY quote.quote_text , quote.author_name ORDER BY tags.tags_list').fetchall()

all_quotes = engine.execute("SELECT quote.quote_text, quote.author_name, STRING_AGG (tags.tags_list,', ' ORDER BY quote.author_name) tags FROM quote INNER JOIN tags USING (quote_id) GROUP BY quote.quote_text, quote.author_name").fetchall()

print(f'Total number of quotes: {tot_num_quotes}')
print(all_quotes)

session.close()

## @app.route("/api/v1.0/author")

In [32]:
#	2. This route will display the information about all the authors available in the database
name : <author name >,
description : <author description>,
born : <date of birth etc. >,
count : <total number of quotes by this author >,
    quotes : [{text: <quote text>,
    tags: []

SyntaxError: invalid syntax (<ipython-input-32-1a3b58a6cf00>, line 2)

In [90]:
# start new session
session = Session(bind=engine)

# run grouping query for all the author info
all_author = engine.execute("SELECT quote.author_name, author.description, author.birth_date, author.birth_place, (SELECT COUNT(quote_text) FROM quote WHERE quote.author_name = (SELECT author_name FROM author)), STRING_AGG (quote.quote_text,', '), STRING_AGG (tags.tags_list,', ' ORDER BY quote.author_name) tags FROM quote INNER JOIN tags USING (quote_id) INNER JOIN author USING (author_name) GROUP BY quote.author_name, author.description, author.birth_date, author.birth_place").fetchall()

print(all_author)
           
session.close()

ProgrammingError: (psycopg2.errors.CardinalityViolation) more than one row returned by a subquery used as an expression

[SQL: SELECT quote.author_name, author.description, author.birth_date, author.birth_place, (SELECT COUNT(quote_text) FROM quote WHERE quote.author_name = (SELECT author_name FROM author GROUP BY author_name)), STRING_AGG (quote.quote_text,', '), STRING_AGG (tags.tags_list,', ' ORDER BY quote.author_name) tags FROM quote INNER JOIN tags USING (quote_id) INNER JOIN author USING (author_name) GROUP BY quote.author_name, author.description, author.birth_date, author.birth_place]
(Background on this error at: http://sqlalche.me/e/13/f405)

# @app.route("/api/v1.0/author/<author_name>")

In [44]:
# 3.This route will display the information about a particular author
name: <Author name>,
description: <author description>,
born: <date of birth etc>
number_of_quotes :  <total quotes by the author>
quotes : text: <quote text>,
tags: []

SyntaxError: invalid syntax (<ipython-input-44-d466d01ed56f>, line 1)

In [68]:
# start new session
session = Session(bind=engine)

# run grouping query for all the author info
one_author = engine.execute("SELECT quote.author_name, author.description, author.birth_date, author.birth_place, (SELECT COUNT(quote_text) FROM quote WHERE author_name = 'Jane Austen'), STRING_AGG (quote.quote_text,', '), STRING_AGG (tags.tags_list,', ' ORDER BY quote.author_name) tags FROM quote INNER JOIN tags USING (quote_id) INNER JOIN author USING (author_name) WHERE author_name = 'Jane Austen' GROUP BY quote.author_name, author.description, author.birth_date, author.birth_place").fetchall()

print(one_author)
           
session.close()

[('Jane Austen', "        Jane Austen was an English novelist whose works of romantic fiction, set among the landed gentry, earned her a place as one of the most widel ... (1661 characters truncated) ... eat English writer. The second half of the 20th century saw a proliferation of Austen scholarship and the emergence of a Janeite fan culture.        ", 'December 16, 1775', 'in Steventon Rectory, Hampshire, The United Kingdom', 5, "“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”, “The person, be it gentleman or lady, who h ... (2073 characters truncated) ... onfirms my belief of the inconsistency of all human characters, and of the little dependence that can be placed on the appearance of merit or sense.”", 'aliteracy, books, classic, humor, friendship, love, humor, love, romantic, women, books, library, reading, elizabeth-bennet, jane-austen')]