# Extract Transform Load Project
### Team Biscotti
---

In [12]:
# import dependacies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import requests
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy.ext.declarative import declarative_base
import pprint
# postgres pasword
from config import postgres_password as password

---
# Extract
---

### Web Scraping 
* Splinter
* Beautiful Soup
* Requests
* webdriver_manager

In [2]:
# create path and open browser window
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# establish url
url = 'https://quotes.toscrape.com/'

# visit site
browser.visit(url)

# grab page html
html = browser.html

# create soup object
soup = BeautifulSoup(html,'html.parser')

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/lbates/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

* Loop through pages

In [3]:
# create the initial list to store the data
quotes_list = []

# initialize "next" object to start while loop
Next = True

# loop to go thru pages while next button count is greater than zero
while Next==True :
    # grab page html
    html = browser.html
    # create soup object
    soup = BeautifulSoup(html,'html.parser')
    # isolate the quote boxes for scraping
    boxes = soup.find_all('div',class_='quote')
    
    # for loop to click "about author" > get data > back > get box data
    for box in boxes:
        # initialize the mini dictionary
        quote_mini = {}
      
        # identify where to click on "about author"
        target = box.a['href']
        
        # click "about author" button
        browser.links.find_by_href(target).click()
        
        # get page html
        html = browser.html
        
        # create a soup object
        soup = BeautifulSoup(html,'html.parser')
        
        # add values for author to the mini dict
        quote_mini['author_name'] = soup.find('h3',class_='author-title').text
        quote_mini['birth_date'] = soup.find('span',class_='author-born-date').text
        quote_mini['birth_place'] = soup.find('span',class_='author-born-location').text
        quote_mini['description'] = soup.find('div',class_='author-description').text.replace('\n', '')
        
        # click back button
        browser.back()
               
        ## Grab quote box values for mini dict
        
        # add quote to the mini dict
        quote_mini['quote_text'] = box.span.text     
        
        # remove extra spaces, commas, and new line text that is not needed
        quote_tags = box.div.text.replace('\n',',').split(',')
        do_not_want = ['','            Tags:','            ']
        
        # add quote to the mini dict
        quote_mini['quote_tags'] = [tag for tag in quote_tags if tag not in do_not_want]
        
        # append completed mini dict to the quotes list
        quotes_list.append(quote_mini)
                
    # look for next button true/false for while loop condition        
    if browser.links.find_by_text('Next '):
        Next = True
        # click next button to move to next page 
        browser.links.find_by_text('Next ').click()
    else:
        # if no next button end loop
        Next = False

# quite browser session and driver
browser.quit()

* Check results of web scraping

In [18]:
# check author info web scraping results
for item in quotes_list:
    print(item["author_name"])

Albert Einstein
J.K. Rowling
Albert Einstein
Jane Austen
Marilyn Monroe
Albert Einstein
Andr√© Gide
Thomas A. Edison
Eleanor Roosevelt
Steve Martin
Marilyn Monroe
J.K. Rowling
Albert Einstein
Bob Marley
Dr. Seuss
Douglas Adams
Elie Wiesel
Friedrich Nietzsche
Mark Twain
Allen Saunders
Pablo Neruda
Ralph Waldo Emerson
Mother Teresa
Garrison Keillor
Jim Henson
Dr. Seuss
Albert Einstein
J.K. Rowling
Albert Einstein
Bob Marley
Dr. Seuss
J.K. Rowling
Bob Marley
Mother Teresa
J.K. Rowling
Charles M. Schulz
William Nicholson
Albert Einstein
Jorge Luis Borges
George Eliot
George R.R. Martin
C.S. Lewis
Marilyn Monroe
Marilyn Monroe
Albert Einstein
Marilyn Monroe
Marilyn Monroe
Martin Luther King Jr.
J.K. Rowling
James Baldwin
Jane Austen
Eleanor Roosevelt
Marilyn Monroe
Albert Einstein
Haruki Murakami
Alexandre Dumas-fils
Stephenie Meyer
Ernest Hemingway
Helen Keller
George Bernard Shaw
Charles Bukowski
Suzanne Collins
Suzanne Collins
C.S. Lewis
J.R.R. Tolkien
J.K. Rowling
Ernest Hemingway
Ralph Waldo Emerson
Mark Twain
Dr. Seuss
Alfred Tennyson
Charles Bukowski
Terry Pratchett
Dr. Seuss
J.D. Salinger
George Carlin
John Lennon
W.C. Fields
Ayn Rand
Mark Twain
Albert Einstein
Jane Austen
J.K. Rowling
Jane Austen
Jane Austen
C.S. Lewis
C.S. Lewis
Mark Twain
Mark Twain
C.S. Lewis
J.K. Rowling
Jimi Hendrix
J.M. Barrie
E.E. Cummings
Khaled Hosseini
Harper Lee
Madeleine L'Engle
Mark Twain
Dr. Seuss
George R.R. Martin

---
# Load
---
### Non-relational Database
* MongoDB
* Pymongo

In [20]:
quotes_json# create connection to mongo database
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# create new data base
db = client.quotes_db

# drop the collection if it already exists
db.quotes.drop()

# instert our list of mini dictionaries from scraping
db.quotes.insert_many(quotes_list)

In [21]:
# show all quotes in collection
list_of_quotes = list(db.quotes.find())

---
# Transform
---

### Clean Data
* Pandas

In [22]:
# use list of dict to create dataframe
main_quote_df = pd.DataFrame(list_of_quotes)

# drop mongo id field
main_quote_df = main_quote_df.drop(['_id'],axis=1)

# change index value to = quote id
main_quote_df['quote_id'] = main_quote_df.index

#increment quote_id by +1 to avoid null issues

#check results
main_quote_df.head()

,author_name,birth_date,birth_place,description,quote_text,quote_tags,quote_id
0,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U...",‚ÄúThe world as we have created it is a process ...,"[change, deep-thoughts, thinking, world]",0
1,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she...,"‚ÄúIt is our choices, Harry, that show what we t...","[abilities, choices]",1
2,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U...",‚ÄúThere are only two ways to live your life. On...,"[inspirational, life, live, miracle, miracles]",2
3,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist wh...,"‚ÄúThe person, be it gentleman or lady, who has ...","[aliteracy, books, classic, humor]",3
4,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Morte...,"‚ÄúImperfection is beauty, madness is genius and...","[be-yourself, inspirational]",4

* Create Tags table

In [66]:
# Isolate tags df
tags = main_quote_df['quote_tags']

# break the tags list in each row into individal rows
tags = main_quote_df.explode('quote_tags')
tags = tags[['quote_tags','quote_id']]
tags = tags.set_index('quote_id')

# rename column to tags
tags.rename(columns = {'quote_tags':'tags_list'},inplace=True)

#drop where tag_list is null
tags=tags.dropna()
# check results
tags

              tags_list
quote_id
0                change
0         deep-thoughts
0              thinking
0                 world
1             abilities
...                 ...
96              writing
97                truth
98        inspirational
99                books
99                 mind

[232 rows x 1 columns]

* Create Quotes Table

In [24]:
# isolate only relevant columns from main df
quotes_df = main_quote_df[['author_name', 'quote_text','quote_id']]

# eleminate index value by setting index to id#
quotes_df = quotes_df.set_index('quote_id')

# check results
quotes_df.head()

              author_name                                         quote_text
quote_id
0         Albert Einstein  ‚ÄúThe world as we have created it is a process ...
1            J.K. Rowling  ‚ÄúIt is our choices, Harry, that show what we t...
2         Albert Einstein  ‚ÄúThere are only two ways to live your life. On...
3             Jane Austen  ‚ÄúThe person, be it gentleman or lady, who has ...
4          Marilyn Monroe  ‚ÄúImperfection is beauty, madness is genius and...

* Create Author Table

In [25]:
# isolate only relevant columns from main df
author_df = main_quote_df[['author_name','birth_date','birth_place','description']]

# drop duplicate authors
author_df = author_df.drop_duplicates(keep='first')

# check results
author_df.head()

,author_name,birth_date,birth_place,description
0,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U..."
1,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she...
3,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist wh...
4,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Morte...
6,Andr√© Gide,"November 22, 1869","in Paris, France",Andr√© Paul Guillaume Gide was a French...

---
# Load
---

### Relational database
* Pandas
* SQLAlchemy

In [28]:
database_name = 'quotes_db'

In [35]:
# create engine to postgres
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/{database_name}')

# use engine to connect to existing tables/db
Database = automap_base( )
Database.prepare(engine, reflect=True)

# View all of the classes/tables that automap found
Database.classes.keys( )

['author', 'quote', 'tags']

In [67]:
# Save references to each table (capital because they are considered classes) 
Tags = Database.classes.tags
#Quotes = Database.classes.quote
#Author = Database.classes.author


# Create our session (link) from Python to the DB
session = Session(bind=engine)
#inspector = inspect(engine)

# Use  get_columns in order write queries later
#inspector.get_columns('table_name')

# insert dataframe into postgres tables
#author_df.to_sql(name='author', con=engine, if_exists='append', index=False)
#quotes_df.to_sql(name='quote', con=engine, if_exists='append', index=True)
tags.to_sql(name='tags', con=engine, if_exists='append', index=True)