In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import requests
import pandas as pd

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/lbates/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [3]:
url = 'https://quotes.toscrape.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [5]:
#quote_list = []

In [6]:
boxes = soup.find_all('div',class_='quote')
#target = boxes[0].a['href']
#browser.links.find_by_href(target).click()

In [7]:
#html = browser.html
#soup = BeautifulSoup(html,'html.parser')

In [8]:
#author_name = soup.find('h3',class_='author-title').text
#author_name

In [9]:
#author_born_date = soup.find('span',class_='author-born-date').text
#author_born_location = soup.find('span',class_='author-born-location').text
#description = soup.find('div',class_='author-description').text.replace('\n', '')

In [10]:
#browser.back()

In [11]:
#quote_text = boxes[0].span.text
#quote_text

In [12]:
#quote_tags = boxes[7].div.text.replace('\n',',').split(',')

#do_not_want = ['','            Tags:','            ']
#quote_tags = [tag for tag in quote_tags if tag not in do_not_want]

#'            ' # boxes[1]
#'            '
#quote_tags.remove('')
#quote_tags.remove('            ')
#quote_tags.remove('            Tags:')
#quote_tags

In [13]:
#quote_mini = {'author_name':author_name,
#              'author_born_date':author_born_date,
#              'author_born_location':author_born_location,
#              'description':description,
#              'quote_text':quote_text,
#              'quote_tags':quote_tags}
#quote_mini

In [14]:
#quote_list.append(quote_mini)
#quote_list

In [15]:
#browser.links.find_by_text('Next ').click()

#html = browser.html
#soup = BeautifulSoup(html,'html.parser')

#boxes = soup.find_all('div',class_='quote')
#boxes

In [16]:
#browser.quit()

In [17]:
quotes_list = []
Next = True
while Next==True :
    for box in boxes:
        
        target = box.a['href']
        browser.links.find_by_href(target).click()
        
        html = browser.html
        soup = BeautifulSoup(html,'html.parser')
        quote_mini={}
        quote_mini['author_name'] = soup.find('h3',class_='author-title').text
        
        quote_mini['birth_date'] = soup.find('span',class_='author-born-date').text
        quote_mini['birth_place'] = soup.find('span',class_='author-born-location').text
        quote_mini['description'] = soup.find('div',class_='author-description').text.replace('\n', '')
        
        browser.back()
        
        quote_mini['quote_text'] = box.span.text
        
        quote_tags = box.div.text.replace('\n',',').split(',')
        do_not_want = ['','            Tags:','            ']
        quote_mini['quote_tags'] = [tag for tag in quote_tags if tag not in do_not_want]
        
        #quote_mini = {'author_name':author_name,
        #              'birth_date':author_born_date,
        #              'birth_place':author_born_location,
        #              'description':description,
        #              'quote_text':quote_text,
        #              'quote_tags':quote_tags}
        
        quotes_list.append(quote_mini)
        
    if browser.links.find_by_text('Next '):
        Next = True
        browser.links.find_by_text('Next ').click()
    else:
        Next = False

    html = browser.html
    soup = BeautifulSoup(html,'html.parser')

    boxes = soup.find_all('div',class_='quote')

In [18]:
for i in quotes_list:
    print(i['author_name'])

Albert Einstein
J.K. Rowling
Albert Einstein
Jane Austen
Marilyn Monroe
Albert Einstein
André Gide
Thomas A. Edison
Eleanor Roosevelt
Steve Martin
Marilyn Monroe
J.K. Rowling
Albert Einstein
Bob Marley
Dr. Seuss
Douglas Adams
Elie Wiesel
Friedrich Nietzsche
Mark Twain
Allen Saunders
Pablo Neruda
Ralph Waldo Emerson
Mother Teresa
Garrison Keillor
Jim Henson
Dr. Seuss
Albert Einstein
J.K. Rowling
Albert Einstein
Bob Marley
Dr. Seuss
J.K. Rowling
Bob Marley
Mother Teresa
J.K. Rowling
Charles M. Schulz
William Nicholson
Albert Einstein
Jorge Luis Borges
George Eliot
George R.R. Martin
C.S. Lewis
Marilyn Monroe
Marilyn Monroe
Albert Einstein
Marilyn Monroe
Marilyn Monroe
Martin Luther King Jr.
J.K. Rowling
James Baldwin
Jane Austen
Eleanor Roosevelt
Marilyn Monroe
Albert Einstein
Haruki Murakami
Alexandre Dumas-fils
Stephenie Meyer
Ernest Hemingway
Helen Keller
George Bernard Shaw
Charles Bukowski
Suzanne Collins
Suzanne Collins
C.S. Lewis
J.R.R. Tolkien
J.K. Rowling
Ernest Hemingway
Ralph Waldo Emerson
Mark Twain
Dr. Seuss
Alfred Tennyson
Charles Bukowski
Terry Pratchett
Dr. Seuss
J.D. Salinger
George Carlin
John Lennon
W.C. Fields
Ayn Rand
Mark Twain
Albert Einstein
Jane Austen
J.K. Rowling
Jane Austen
Jane Austen
C.S. Lewis
C.S. Lewis
Mark Twain
Mark Twain
C.S. Lewis
J.K. Rowling
Jimi Hendrix
J.M. Barrie
E.E. Cummings
Khaled Hosseini
Harper Lee
Madeleine L'Engle
Mark Twain
Dr. Seuss
George R.R. Martin

In [19]:
browser.quit()

In [20]:
quotes_list[-11:]

[{'author_name': 'C.S. Lewis',
  'birth_date': 'November 29, 1898',
  'birth_place': 'in Belfast, Ireland',
  'description': '        CLIVE STAPLES LEWIS (1898–1963) was one of the intellectual giants of the twentieth century and arguably one of the most influential writers of his day. He was a Fellow and Tutor in English Literature at Oxford University until 1954. He was unanimously elected to the Chair of Medieval and Renaissance Literature at Cambridge University, a position he held until his retirement. He wrote more than thirty books, allowing him to reach a vast audience, and his works continue to attract thousands of new readers every year. His most distinguished and popular accomplishments include Mere Christianity, Out of the Silent Planet, The Great Divorce, The Screwtape Letters, and the universally acknowledged classics The Chronicles of Narnia. To date, the Narnia books have sold over 100 million copies and been transformed into three major motion pictures.        ',
  'quote_text': '“I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.”',
  'quote_tags': ['christianity', 'faith', 'religion', 'sun']},
 {'author_name': 'J.K. Rowling',
  'birth_date': 'July 31, 1965',
  'birth_place': 'in Yate, South Gloucestershire, England, The United Kingdom',
  'description': '        See also: Robert GalbraithAlthough she writes under the pen name J.K. Rowling, pronounced like rolling, her name when her first Harry Potter book was published was simply Joanne Rowling. Anticipating that the target audience of young boys might not want to read a book written by a woman, her publishers demanded that she use two initials, rather than her full name. As she had no middle name, she chose K as the second initial of her pen name, from her paternal grandmother Kathleen Ada Bulgen Rowling. She calls herself Jo and has said, "No one ever called me \'Joanne\' when I was young, unless they were angry." Following her marriage, she has sometimes used the name Joanne Murray when conducting personal business. During the Leveson Inquiry she gave evidence under the name of Joanne Kathleen Rowling. In a 2012 interview, Rowling noted that she no longer cared that people pronounced her name incorrectly.Rowling was born to Peter James Rowling, a Rolls-Royce aircraft engineer, and Anne Rowling (née Volant), on 31 July 1965 in Yate, Gloucestershire, England, 10 miles (16 km) northeast of Bristol. Her mother Anne was half-French and half-Scottish. Her parents first met on a train departing from King\'s Cross Station bound for Arbroath in 1964. They married on 14 March 1965. Her mother\'s maternal grandfather, Dugald Campbell, was born in Lamlash on the Isle of Arran. Her mother\'s paternal grandfather, Louis Volant, was awarded the Croix de Guerre for exceptional bravery in defending the village of Courcelles-le-Comte during the First World War.Rowling\'s sister Dianne was born at their home when Rowling was 23 months old. The family moved to the nearby village Winterbourne when Rowling was four. She attended St Michael\'s Primary School, a school founded by abolitionist William Wilberforce and education reformer Hannah More. Her headmaster at St Michael\'s, Alfred Dunn, has been suggested as the inspiration for the Harry Potter headmaster Albus Dumbledore.As a child, Rowling often wrote fantasy stories, which she would usually then read to her sister. She recalls that: "I can still remember me telling her a story in which she fell down a rabbit hole and was fed strawberries by the rabbit family inside it. Certainly the first story I ever wrote down (when I was five or six) was about a rabbit called Rabbit. He got the measles and was visited by his friends, including a giant bee called Miss Bee." At the age of nine, Rowling moved to Church Cottage in the Gloucestershire village of Tutshill, close to Chepstow, Wales. When she was a young teenager, her great aunt, who Rowling said "taught classics and approved of a thirst for knowledge, even of a questionable kind," gave her a very old copy of Jessica Mitford\'s autobiography, Hons and Rebels. Mitford became Rowling\'s heroine, and Rowling subsequently read all of her books.Rowling has said of her teenage years, in an interview with The New Yorker, "I wasn’t particularly happy. I think it’s a dreadful time of life." She had a difficult homelife; her mother was ill and she had a difficult relationship with her father (she is no longer on speaking terms with him). She attended secondary school at Wyedean School and College, where her mother had worked as a technician in the science department. Rowling said of her adolescence, "Hermione [a bookish, know-it-all Harry Potter character] is loosely based on me. She\'s a caricature of me when I was eleven, which I\'m not particularly proud of." Steve Eddy, who taught Rowling English when she first arrived, remembers her as "not exceptional" but "one of a group of girls who were bright, and quite good at English." Sean Harris, her best friend in the Upper Sixth owned a turquoise Ford Anglia, which she says inspired the one in her books.        ',
  'quote_text': '“The truth." Dumbledore sighed. "It is a beautiful and terrible thing, and should therefore be treated with great caution.”',
  'quote_tags': ['truth']},
 {'author_name': 'Jimi Hendrix',
  'birth_date': 'November 27, 1942',
  'birth_place': 'in Seattle, Washington, The United States',
  'description': '        Jimi Hendrix was an American guitarist, singer and songwriter. Hendrix is considered one of the greatest and most influential guitarists in rock music history. After initial success in Europe, he achieved fame in the USA following his 1967 performance at the Monterey Pop Festival. Later, Hendrix headlined the iconic 1969 Woodstock Festival.Hendrix helped develop the technique of guitar feedback with overdriven amplifiers. He was influenced by blues artists such as B.B. King, Muddy Waters, Albert King, and Elmore James, rhythm and blues and soul guitarists Curtis Mayfield, Steve Cropper, as well as by some modern jazz.Carlos Santana has suggested that Hendrix\'s music may have been influenced by his Native American heritage. As a record producer, Hendrix also broke new ground in using the recording studio as an extension of his musical ideas; he was one of the first to experiment with stereophonic and phasing effects during recording.Hendrix won many of the most prestigious rock music awards in his lifetime and has been posthumously awarded many more, including being inducted into the USA\'s Rock and Roll Hall of Fame in 1992 and the UK Music Hall of Fame in 2005. An English Heritage "Blue plaque" was erected in his name on his former residence at Brook Street, London in September 1997 and his star on the Hollywood Walk of Fame (at 6627 Hollywood Blvd.) was dedicated in 1994. In 2006, his debut USA album, Are You Experienced, was inducted into the United States National Recording Registry and Rolling Stone named Hendrix number 1 on their list of the 100 Greatest Guitarists of All Time in 2003.        ',
  'quote_text': "“I'm the one that's got to die when it's time for me to die, so let me live my life the way I want to.”",
  'quote_tags': ['death', 'life']},
 {'author_name': 'J.M. Barrie',
  'birth_date': 'May 09, 1860',
  'birth_place': 'in Kirriemuir, Angus, Scotland, The United Kingdom',
  'description': '        Sir James Matthew Barrie, 1st Baronet, OM (9 May 1860 – 19 June 1937) was a Scottish author and dramatist, best remembered today as the creator of Peter Pan.The child of a family of small-town weavers, he was educated in Scotland. He moved to London, where he developed a career as a novelist and playwright. There he met the Llewelyn Davies boys who inspired him in writing about a baby boy who has magical adventures in Kensington Gardens (included in The Little White Bird), then to write Peter Pan, or The Boy Who Wouldn\'t Grow Up, a "fairy play" about this ageless boy and an ordinary girl named Wendy who have adventures in the fantasy setting of Neverland. This play quickly overshadowed his previous work and although he continued to write successfully, it became his best-known work, credited with popularising the name Wendy, which was very uncommon previously.Barrie unofficially adopted the Davies boys following the deaths of their parents. Before his death, he gave the rights to the Peter Pan works to Great Ormond Street Hospital, which continues to benefit from them.        ',
  'quote_text': '“To die will be an awfully big adventure.”',
  'quote_tags': ['adventure', 'love']},
 {'author_name': 'E.E. Cummings',
  'birth_date': 'October 14, 1894',
  'birth_place': 'in Cambridge, Massachusetts, The United States',
  'description': '        Edward Estlin Cummings was born in Cambridge, Massachusetts, on October 14, 1894. He began writing poems as early as 1904 and studied Latin and Greek at the Cambridge Latin High School.He received his BA in 1915 and his MA in 1916, both from Harvard University. His studies there introduced him to the poetry of avant-garde writers, such as Gertrude Stein and Ezra Pound.In 1917, Cummings published an early selection of poems in the anthology Eight Harvard Poets. The same year, Cummings left the United States for France as a volunteer ambulance driver in World War I. Five months after his assignment, however, he and a friend were interned in a prison camp by the French authorities on suspicion of espionage (an experience recounted in his novel, The Enormous Room) for his outspoken anti-war convictions.After the war, he settled into a life divided between houses in rural Connecticut and Greenwich Village, with frequent visits to Paris. He also traveled throughout Europe, meeting poets and artists, including Pablo Picasso, whose work he particularly admired.In 1920, The Dial published seven poems by Cummings, including "Buffalo Bill ’s.” Serving as Cummings’ debut to a wider American audience, these “experiments” foreshadowed the synthetic cubist strategy Cummings would explore in the next few years.In his work, Cummings experimented radically with form, punctuation, spelling, and syntax, abandoning traditional techniques and structures to create a new, highly idiosyncratic means of poetic expression. Later in his career, he was often criticized for settling into his signature style and not pressing his work toward further evolution. Nevertheless, he attained great popularity, especially among young readers, for the simplicity of his language, his playful mode and his attention to subjects such as war and sex.The poet and critic Randall Jarrell once noted that Cummings is “one of the most individual poets who ever lived—and, though it sometimes seems so, it is not just his vices and exaggerations, the defects of his qualities, that make a writer popular. But, primarily, Mr. Cummings’s poems are loved because they are full of sentimentally, of sex, of more or less improper jokes, of elementary lyric insistence.”During his lifetime, Cummings received a number of honors, including an Academy of American Poets Fellowship, two Guggenheim Fellowships, the Charles Eliot Norton Professorship at Harvard, the Bollingen Prize in Poetry in 1958, and a Ford Foundation grant.At the time of his death, September 3, 1962, he was the second most widely read poet in the United States, after Robert Frost. He is buried in Forest Hills Cemetery in Boston, Massachusetts.source: http://www.poets.org/poetsorg/poet/e-...        ',
  'quote_text': '“It takes courage to grow up and become who you really are.”',
  'quote_tags': ['courage']},
 {'author_name': 'Khaled Hosseini',
  'birth_date': 'March 04, 1965',
  'birth_place': 'in Kabul, Afghanistan',
  'description': "        Hosseini was born in Kabul, Afghanistan, in 1965. In 1970 Hosseini and his family moved to Iran where his father worked for the Embassy of Afghanistan in Tehran. In 1973 Hosseini's family returned to Kabul, and Hosseini's youngest brother was born in July of that year.In 1976, when Hosseini was 11 years old, Hosseini's father obtained a job in Paris, France, and moved the family there. They were unable to return to Afghanistan because of the Saur Revolution in which the PDPA communist party seized power through a bloody coup in April 1978. Instead, a year after the Soviet invasion of Afghanistan, in 1980 they sought political asylum in the United States and made their residence in San Jose, California.Hosseini graduated from Independence High School in San Jose in 1984 and enrolled at Santa Clara University, where he earned a bachelor's degree in biology in 1988. The following year, he entered the University of California, San Diego, School of Medicine, where he earned his M.D. in 1993. He completed his residency in internal medicine at Cedars-Sinai Medical Center in Los Angeles in 1996. He practiced medicine for over ten years, until a year and a half after the release of The Kite Runner.Hosseini is currently a Goodwill Envoy for the United Nations High Commissioner for Refugees (UNHCR). He has been working to provide humanitarian assistance in Afghanistan through the Khaled Hosseini Foundation. The concept for the foundation was inspired by the trip to Afghanistan that Hosseini made in 2007 with UNHCR.He lives in Northern California with his wife, Roya, and their two children (Harris and Farah).        ",
  'quote_text': '“But better to get hurt by the truth than comforted with a lie.”',
  'quote_tags': ['life']},
 {'author_name': 'Harper Lee',
  'birth_date': 'April 28, 1926',
  'birth_place': 'in Monroeville, Alabama, The United States',
  'description': '        Harper Lee, known as Nelle, was born in the Alabama town of Monroeville, the youngest of four children of Amasa Coleman Lee and Frances Cunningham Finch Lee. Her father, a former newspaper editor and proprietor, was a lawyer who served on the state legislature from 1926 to 1938. As a child, Lee was a tomboy and a precocious reader, and enjoyed the friendship of her schoolmate and neighbor, the young Truman Capote.After graduating from high school in Monroeville, Lee enrolled at the all-female Huntingdon College in Montgomery (1944-45), and then pursued a law degree at the University of Alabama (1945-50), pledging the Chi Omega sorority. While there, she wrote for several student publications and spent a year as editor of the campus humor magazine, "Ramma-Jamma". Though she did not complete the law degree, she studied for a summer in Oxford, England, before moving to New York in 1950, where she worked as a reservation clerk with Eastern Air Lines and BOAC.Lee continued as a reservation clerk until the late 50s, when she devoted herself to writing. She lived a frugal life, traveling between her cold-water-only apartment in New York to her family home in Alabama to care for her father.Having written several long stories, Harper Lee located an agent in November 1956. The following month at the East 50th townhouse of her friends Michael Brown and Joy Williams Brown, she received a gift of a year\'s wages with a note: "You have one year off from your job to write whatever you please. Merry Christmas." Within a year, she had a first draft. Working with J. B. Lippincott & Co. editor Tay Hohoff, she completed To Kill a Mockingbird in the summer of 1959. Published July 11, 1960, the novel was an immediate bestseller and won great critical acclaim, including the Pulitzer Prize for Fiction in 1961. It remains a bestseller with more than 30 million copies in print. In 1999, it was voted "Best Novel of the Century" in a poll by the Library Journal.        ',
  'quote_text': '“You never really understand a person until you consider things from his point of view... Until you climb inside of his skin and walk around in it.”',
  'quote_tags': ['better-life-empathy']},
 {'author_name': "Madeleine L'Engle",
  'birth_date': 'November 29, 1918',
  'birth_place': 'in New York City, New York, The United States',
  'description': '        Madeleine L\'Engle was an American writer best known for her Young Adult fiction, particularly the Newbery Medal-winning A Wrinkle in Time and its sequels A Wind in the Door, A Swiftly Tilting Planet, and Many Waters. Her works reflect her strong interest in modern science: tesseracts, for example, are featured prominently in A Wrinkle in Time, mitochondrial DNA in A Wind in the Door, organ regeneration in The Arm of the Starfish, and so forth."Madeleine was born on November 29th, 1918, and spent her formative years in New York City. Instead of her school work, she found that she would much rather be writing stories, poems and journals for herself, which was reflected in her grades (not the best). However, she was not discouraged.At age 12, she moved to the French Alps with her parents and went to an English boarding school where, thankfully, her passion for writing continued to grow. She flourished during her high school years back in the United States at Ashley Hall in Charleston, South Carolina, vacationing with her mother in a rambling old beach cottage on a beautiful stretch of Florida Beach.She went to Smith College and studied English with some wonderful teachers as she read the classics and continued her own creative writing. She graduated with honors and moved into a Greenwich Village apartment in New York. She worked in the theater, where Equity union pay and a flexible schedule afforded her the time to write! She published her first two novels during these years--A Small Rain and Ilsa--before meeting Hugh Franklin, her future husband, when she was an understudy in Anton Chekov\'s The Cherry Orchard. They married during The Joyous Season.She had a baby girl and kept on writing, eventually moving to Connecticut to raise the family away from the city in a small dairy farm village with more cows than people. They bought a dead general store, and brought it to life for 9 years. They moved back to the city with three children, and Hugh revitalized his professional acting career. The family has kept the country house, Crosswicks, and continues to spend summers there.As the years passed and the children grew, Madeleine continued to write and Hugh to act, and they to enjoy each other and life. Madeleine began her association with the Cathedral Church of St. John the Divine, where she has been the librarian and maintained an office for more than thirty years. After Hugh\'s death in 1986, it was her writing and lecturing that kept her going. She has now lived through the 20th century and into the 21st and has written over 60 books and keeps writing. She enjoys being with her friends, her children, her grandchildren, and her great grandchildren."http://us.macmillan.com/author/madele...Copyright © 2007 Crosswicks, Ltd. (Madeleine L\'Engle, President)        ',
  'quote_text': '“You have to write the book that wants to be written. And if the book will be too difficult for grown-ups, then you write it for children.”',
  'quote_tags': ['books',
   'children',
   'difficult',
   'grown-ups',
   'write',
   'writers',
   'writing']},
 {'author_name': 'Mark Twain',
  'birth_date': 'November 30, 1835',
  'birth_place': 'in Florida, Missouri, The United States',

In [21]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [22]:
db = client.quotes_db

In [23]:
db.quotes.drop()
db.quotes.insert_many(quotes_list)

In [24]:
list_of_quotes = list(db.quotes.find())
#print(list_of_quotes)

In [36]:
quote_df = pd.DataFrame(list_of_quotes)
quote_df.head()

,_id,author_name,birth_date,birth_place,description,quote_text,quote_tags
0,6053f81c38a8057fd550f77a,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U...",“The world as we have created it is a process ...,"[change, deep-thoughts, thinking, world]"
1,6053f81c38a8057fd550f77b,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she...,"“It is our choices, Harry, that show what we t...","[abilities, choices]"
2,6053f81c38a8057fd550f77c,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U...",“There are only two ways to live your life. On...,"[inspirational, life, live, miracle, miracles]"
3,6053f81c38a8057fd550f77d,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist wh...,"“The person, be it gentleman or lady, who has ...","[aliteracy, books, classic, humor]"
4,6053f81c38a8057fd550f77e,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Morte...,"“Imperfection is beauty, madness is genius and...","[be-yourself, inspirational]"

In [37]:
main_quote_df = main_quote_df.drop(['_id'],axis=1)

In [39]:
main_quote_df['quote_id'] = main_quote_df.index
main_quote_df.head()

,author_name,birth_date,birth_place,description,quote_text,quote_tags,quote_id
0,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U...",“The world as we have created it is a process ...,"[change, deep-thoughts, thinking, world]",0
1,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she...,"“It is our choices, Harry, that show what we t...","[abilities, choices]",1
2,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U...",“There are only two ways to live your life. On...,"[inspirational, life, live, miracle, miracles]",2
3,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist wh...,"“The person, be it gentleman or lady, who has ...","[aliteracy, books, classic, humor]",3
4,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Morte...,"“Imperfection is beauty, madness is genius and...","[be-yourself, inspirational]",4

In [40]:
tags = main_quote_df['quote_tags']
tags

0              [change, deep-thoughts, thinking, world]
1                                  [abilities, choices]
2        [inspirational, life, live, miracle, miracles]
3                    [aliteracy, books, classic, humor]
4                          [be-yourself, inspirational]
                            ...
95                                [better-life-empathy]
96    [books, children, difficult, grown-ups, write,...
97                                              [truth]
98                                      [inspirational]
99                                        [books, mind]
Name: quote_tags, Length: 100, dtype: object

In [41]:
tags = main_quote_df.explode('quote_tags')
tags = tags[['quote_tags','quote_id']]
tags = tags.set_index('quote_id')
tags.rename(columns = {'quote_tags':'tags'},inplace=True)
tags

                   tags
quote_id
0                change
0         deep-thoughts
0              thinking
0                 world
1             abilities
...                 ...
96              writing
97                truth
98        inspirational
99                books
99                 mind

[235 rows x 1 columns]

In [48]:
quotes_df = main_quote_df[['author_name', 'quote_text','quote_id']]
quotes_df = quotes_df.set_index('quote_id')
quotes_df.head()

              author_name                                         quote_text
quote_id
0         Albert Einstein  “The world as we have created it is a process ...
1            J.K. Rowling  “It is our choices, Harry, that show what we t...
2         Albert Einstein  “There are only two ways to live your life. On...
3             Jane Austen  “The person, be it gentleman or lady, who has ...
4          Marilyn Monroe  “Imperfection is beauty, madness is genius and...

In [50]:
author_df = main_quote_df[['author_name','birth_date','birth_place','description']]
author_df = author_df.drop_duplicates(keep='first')
author_df.head()

,author_name,birth_date,birth_place,description
0,Albert Einstein,"March 14, 1879","in Ulm, Germany","In 1879, Albert Einstein was born in U..."
1,J.K. Rowling,"July 31, 1965","in Yate, South Gloucestershire, England, The U...",See also: Robert GalbraithAlthough she...
3,Jane Austen,"December 16, 1775","in Steventon Rectory, Hampshire, The United Ki...",Jane Austen was an English novelist wh...
4,Marilyn Monroe,"June 01, 1926",in The United States,Marilyn Monroe (born Norma Jeane Morte...
6,André Gide,"November 22, 1869","in Paris, France",André Paul Guillaume Gide was a French...

In [ ]:
# To separate the tags in each tag list and make a
# new dataframe in which each tag is listed uniquely and connected to a 
# quote id, do the following (psuedocode):

# Create a "tags" list that will hold mini dictionaries
# E.g. tags = []
# Each mini dictionary - two fields: quote_id and tag

# FOR every row in the dataframe:
#    FOR every tag in the tag list
#       Makes two variables: tag, quote_id
#       Note: quote_id will be based on quote_id value from big loop
#       Note: tag will be based on separated tag from nested loop
#       Mini dictionary - stores the two variables
#       E.g. tags_dict = {quote_id, tag}
#       Append mini dictionary to list
#    END of nested loop
# END of big loop

# PANDAS: make new "tags" dataframe out of "tags" list
# PANDAS: change column names as needed